#about {
    font-size: 1.4rem;
}

#about .container {
    text-align: left;
}

.about-wrapper {
    margin-bottom: 2rem;
}

.profile-img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
    shape-outside: circle(50%);
}

.content-wrapper {
    overflow: visible;
    text-align: justify;
}

.content-wrapper p:first-of-type {
    margin-top: 0;
    /* min-height: 150px; */
}

.content-wrapper p:nth-of-type(2) {
    clear: both;
    margin-top: 1rem;
    width: 100%;
    max-width: 100%;
}

.content-wrapper p:nth-of-type(n+2) {
    clear: both;
    width: 100%;
}

#publications {
    font-size: 1.2rem;
}

#publications h4 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 1rem !important;
}

#publications .panel-body {
    padding-top: 0;
}

#publications .panel h5 {
    font-size: 1.2rem;
}

.navbar-brand {
    display: none;
}

@media (max-width: 768px) {
    .profile-img {
        float: none;
        display: block;
        margin: 0 auto 1rem;
        shape-outside: none;
    }
    
    .content-wrapper p:first-of-type {
        min-height: auto;
    }
    
    .content-wrapper p:nth-of-type(2) {
        clear: none;
    }
} 